html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background: #242525;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*

=> RED LIGHT   - #F82668
=> RED DARK    - #B01214
=> GRAY LIGHT  - #292A2B
=> GRAY DARK   - #242525

*/
