:root {
  --colorRedLight: #f82668;
  --colorRedDark: #b01214;
  --colorGrayLight: #292a2b;
  --colorGrayDark: #242525;
}

html,
body {
  color: white;
  background: var(--colorGrayLight) !important;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}