:root {
  --colorRedLight: #f82668;
  --colorRedDark: #b01214;
  --colorGrayLight: #292a2b;
  --colorGrayDark: #242525;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  color: white;
  background: var(--colorGrayLight);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
